<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Create Author</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/authors">Authors</a></li>
      <li><a href="/books">Books</a></li>
    </ul>
  </nav>


  <main>

    <% if (typeof errors !== 'undefined') { %>
      <section class="errors">
          <% for (const error of errors) { %>
            <p class="error"><%= error %></p>
          <% } %>
        </section>
    <%  } %>

    <fieldset>
      <legend>Create Author</legend>

      <form action="/authors" method='post' autocomplete="off">
        <div>
          <label for="">Name</label>
          <input type="text" name="name" value='<%= author.name %>'>
        </div>
        <div>
          <label for="">age</label>
          <input type="number" name="age" value='<%= author.age %>'>
        </div>
        <div>
          <label for="">Bio</label>
          <textarea name="bio" id="" cols="30" rows="10"><%= author.bio %></textarea>
        </div>
        <div>
          <label for="">Alive?</label>
          <input type="radio" name="isAlive" value='true' <%= author.isAlive ? 'checked' : '' %>>True
          <input type="radio" name="isAlive" value='false' <%= author.isAlive ? '' : 'checked' %>>False
        </div>

        <button>Submit</button>
      </form>
    </fieldset>
  </main>
</body>
</html>
